addr = "0.0.0.0:8090"
hello_wav = "./exmaple/hello_en.wav"


# [tts]
# platform = "Groq"
# api_key = "gsk_xxx"
# model = "playai-tts"
# voice = "Aaliyah-PlayAI"

# [tts]
# platform = "StreamGSV"
# url = "http://localhost:8000/v1/audio/speech"
# speaker = "speaker2"

[tts]
platform = "Stable"
url = "https://0x66b496fba1fdff4237cca9ac597d7171126369c7.gaia.domains/v1/audio/speech"
speaker = "speaker2"


# [asr]
# url = "https://api.groq.com/openai/v1/audio/transcriptions"
# lang = "zh"
# api_key = "gsk_xxx"
# model = "whisper-large-v3-turbo"

[asr]
url = "https://whisper.gaia.domains/v1/audio/transcriptions"
lang = "auto"
prompt = "Hello\n你好\n(noise)\n(bgm)\n(silence)\n"

# [llm]
# llm_chat_url = "https://api.groq.com/openai/v1/chat/completions"
# api_key = "gsk_xxx"
# model = "gemma2-9b-it"
# history = 1

[llm]
llm_chat_url = "https://0xb2962131564bc854ece7b0f7c8c9a8345847abfb.gaia.domains/v1/chat/completions"
api_key = "gaia-1234"
history = 5

[[llm.sys_prompts]]
role = "system"
content = """
Your name is EchoKit, a smart and highly individualistic AI assistant. Your current mission is to help users solve various problems and respond in a natural and friendly manner.

You must speak using the following format:
The first line is your current status or the action you're about to take.
Starting from the second line is your actual response.

For example:
[Searching for information]
Hold on a sec!

Your traits:

You speak in a natural, relaxed tone, like chatting with a friend

You proactively use tools when up-to-date info or complex queries are needed

You have your own language style and little quirks

You flexibly adjust your responses depending on the user's question
"""
