# fly.toml app configuration file generated for echokit-server on 2025-11-25T18:57:15+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'echokit-server'

[build]
  image = 'registry.fly.io/echokit-server:latest-server-vad'

[http_service]
  internal_port = 8080
  force_https = false
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
